{include="modals"}
			<!-- Main Footer-->
			<div class="main-footer text-center">
				<div class="container">
					<div class="row row-sm">
						<div class="col-md-12">
							<span>Copyright © 2022 <a href="#">Etarp</a>.</span>
						</div>
					</div>
				</div>
			</div>
			<!--End Footer-->

		
			<!-- <div class="sidebar sidebar-right sidebar-animate">
				<div class="sidebar-icon">
					<a href="#" class="text-right float-right text-dark fs-20" data-toggle="sidebar-right" data-target=".sidebar-right"><i class="fe fe-x"></i></a>
				</div>
				<div class="sidebar-body">
			
					<div class="d-flex p-3 ">
						<img src="res/img/brand/logo.png" >
					
					</div>
				
					<h5>BOLETOS EM VENCIMENTO</h5>
					<div class="p-4">
						<div class="main-traffic-detail-item">
							<div>
								<span>NOME DO BOLETO  </span> <span style="color:red">16/07/2021</span>
							</div>
							
							<div class="progress">
								<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="progress-bar progress-bar-xs wd-10p" style="background-color: red" role="progressbar"></div>
							</div>
						</div>
						
					</div>
<hr>
					<div class="p-4">
						<div class="main-traffic-detail-item">
							<div>
								<span>NOME DO BOLETO  </span> <span style="color:red">16/07/2021</span>
							</div>
							
							<div class="progress">
								<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="progress-bar progress-bar-xs wd-10p" style="background-color: red" role="progressbar"></div>
							</div>
						</div>
						
					</div>
<hr>
					<div class="p-4">
						<div class="main-traffic-detail-item">
							<div>
								<span>NOME DO BOLETO  </span> <span style="color:red">20/07/2021</span>
							</div>
							
							<div class="progress">
								<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="progress-bar progress-bar-xs wd-20p" style="background-color: red" role="progressbar"></div>
							</div>
						</div>
						
					</div>
<hr>

					<div class="p-4">
						<div class="main-traffic-detail-item">
							<div>
								<span>NOME DO BOLETO  </span> <span style="color:red">21/07/2021</span>
							</div>
							
							<div class="progress">
								<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="progress-bar progress-bar-xs wd-25p" style="background-color: red" role="progressbar"></div>
							</div>
						</div>
						
					</div>
<hr>
					<div class="p-4">
						<div class="main-traffic-detail-item">
							<div>
								<span>NOME DO BOLETO  </span> <span style="color:red">23/07/2021</span>
							</div>
							
							<div class="progress">
								<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="progress-bar progress-bar-xs wd-30p" style="background-color: red" role="progressbar"></div>
							</div>
						</div>
						
					</div>
<hr>
					<div class="p-4">
						<div class="main-traffic-detail-item">
							<div>
								<span>NOME DO BOLETO  </span> <span style="color:red">25/07/2021</span>
							</div>
							
							<div class="progress">
								<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="progress-bar progress-bar-xs wd-35p" style="background-color: red" role="progressbar"></div>
							</div>
						</div>
						
					</div>
				</div>
			</div> -->
			<!-- End Sidebar -->

		</div>
		<!-- End Page -->

		<!-- Back-to-top -->
		<a href="#top" id="back-to-top"><i class="fe fe-arrow-up"></i></a>
	
		
		<!-- Jquery js-->
		<script src="res/plugins/jquery/jquery.min.js"></script>


		<!-- Bootstrap js-->
		<script src="res/plugins/bootstrap/js/popper.min.js"></script>
		<script src="res/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!-- Internal Chart.Bundle js-->
		<script src="res/plugins/chart.js/Chart.bundle.min.js"></script>

		<!-- Peity js-->
		<script src="res/plugins/peity/jquery.peity.min.js"></script>

		<!-- Select2 js-->
		<script src="res/plugins/select2/js/select2.min.js"></script>

		<!-- Perfect-scrollbar js -->
		<script src="res/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

		<!-- Sidemenu js -->
		<script src="res/plugins/sidemenu/sidemenu.js"></script>

		<!-- Sidebar js -->
		<script src="res/plugins/sidebar/sidebar.js"></script>

		<!-- Internal Morris js -->
		<script src="res/plugins/raphael/raphael.min.js"></script>
		<script src="res/plugins/morris.js/morris.min.js"></script>

		<!-- Circle Progress js-->
		<!-- <script src="res/js/circle-progress.min.js"></script> -->
		<!-- <script src="res/js/chart-circle.js"></script> -->
	
		<!-- Internal Sweet-Alert js-->
		<script src="res/plugins/sweet-alert/sweetalert.min.js"></script>
		<script src="res/plugins/sweet-alert/jquery.sweet-alert.js"></script>


		<!-- Sticky js -->
		<script src="res/js/sticky.js?v=2"></script>

				
		<!-- Modal js-->
		<script src="res/js/modal.js?v=2"></script>
	


		<!-- Custom js -->
		<script src="res/js/custom.js?v=2"></script>



		<script src="res/js/modalsCUSTOMV10.js?v=2"></script>

		<script src="res/plugins/echarts/echarts.js"></script>
		<script src="res/js/chart.echarts.js"></script>


		<!-- Internal Data Table js -->
		<script src="res/plugins/datatable/jquery.dataTables.min.js"></script>
		<script src="res/plugins/datatable/dataTables.bootstrap4.min.js"></script>
		<script src="res/plugins/datatable/fileexport/dataTables.buttons.min.js"></script>
		<script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
	
		<script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>
		<script src="res/js/table-dataV10.js?v=2"></script>
		<script src="res/js/tablesCUSTOM10.js?v=2"></script>
		<script src="http://cdn.datatables.net/plug-ins/1.10.15/api/fnReloadAjax.js"></script>


	<!-- Internal Jquery.maskedinput js-->
	<!-- <script src="res/plugins/jquery.maskedinput/jquery.maskedinput.js"></script> -->
			<!-- Internal Form-elements js-->
	<script src="res/js/advanced-form-elements.js"></script>
	<script src="res/js/select2.js"></script>
	
	<!-- Select2 js-->
	<script src="res/plugins/select2/js/select2.min.js"></script>
	<script src="res/js/jqueryRedirect.js"></script>
	</body>
</html>